@font-face {
  font-family: "Larken Bold";
  src: url("./fonts/larken-bold.ttf") format("truetype");
}


@font-face {
  font-family: "Semplicita Medium";
  src: url("./fonts/semplicita.medium.otf") format("opentype");
}

/* Flippable Cards code CSS */

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover{
  transform-style: preserve-3d;
  transition: all 1.4s ease;
}

.front{
  backface-visibility: hidden;
}

.back{
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.cardFlip:hover{
  transform: rotateY(180deg);
}

.custom-mb {
  margin-bottom: 40rem; /* Ajustez cette valeur selon vos besoins */
}



@tailwind base;
@tailwind components;
@tailwind utilities;